.pageContent{
  padding: 20px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.productID {
  border: 1px solid #000;
  padding: 16px;
  border-radius: 8px;
  
}
.productImg {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.inputBar{
  padding: 10px;
  width: 280px;
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.searchContainer{
  margin-bottom: 20px;
}
.searchButton{
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border:none;
  border-radius: 6px;
  cursor: pointer;
}
.description span{
  font-weight: 600;
}
.price {
  color: #0db849;
}
.price span{
  font-weight: 600;
  color: #000;
}